.dashboard-inside{
    width: 75vw;
    margin: auto;
    height:100vh;
    margin: auto;
    position: relative;
    left: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dashboard-flex{
    width: 90%;
    height: 100%;
    margin: auto;
}